{% extends "base.html" %} {% block content %}
<div id="conteudo" style="margin-left: 3%">
    <h2>Alunos</h2>
    <div class="pull-right">
        <form class="navbar-form navbar-left" role="search">
            <a class="btn btn-primary" href="{% url 'aluno_add' %}">Adicionar</a>
            <div class="form-group">
                <input type="text" name="q" class="form-control" placeholder="Buscar Aluno" autofocus="autofocus" />
            </div>
            <button type="submit" class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </form>
    </div>
    {% if aluno_list %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID (pk)
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Sobrenome
                </th>
                <th>
                    Email
                </th>
                <th>
                    Deletar
                </th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in aluno_list %}
            <tr>
                <td>{{ aluno.pk }}</td>
                <td><span class="fa fa-user"></span><a href="{% url 'aluno_detail' aluno.pk %}">{{ aluno.nome }}</a></td>
                <td>{{ aluno.sobrenome }}</td>
                <td>{{ aluno.email }}</td>
                <!-- modal delete aluno  -  modal não está sendo utilizado-->
                <!--  <td class="js-aluno-delete" data-id="{{ aluno.pk }}" data-first_name="{{ aluno.nome }}"> -->
                <td class="js-aluno-delete" data-id="{{ aluno.pk }}">
                    <a href="{% url 'aluno_delete' aluno.pk %}" class="btn btn-danger"><span class="fa fa-close"></span> Deletar
                </a>
                    <!-- fim do modal delete aluno -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="lead alert alert-warning">Nenhum aluno cadastrado</p>
    {% endif %}
    <!-- modal delete aluno  -  modal não está sendo utilizado-->
    <div class="modal fade" id="modal-aluno-delete" role="dialog" aria-labelledby="myModalLabelDelete" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                Modal title
              </h4>
                </div>
                <form id="delete_aluno_form" action="">
                    <div class="modal-body">
                        Tem certeza que voce deseja deletar <span id="deletar"></span>?
                        <input id="pk" type="text" name="pk" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-danger">
                            Yes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}