{% extends "base.html" %} {% block content %}
<!-- <div class="text-center"> -->
<div style="margin-left: 6%;">
    <form action="{% url 'professor_delete_confirm' professor.pk %}" method="POST">
        {% csrf_token %}
        <p class="lead">Tem certeza que deseja deletar {{ professor | capfirst }}?</p>
        <button type="submit" class="btn btn-danger">Deletar</button>
    </form>
    <br />
    <a href="{% url 'professor_list' %}" class="btn btn-default">Cancelar</a>
</div>
{% endblock %}